.whole {
    display: grid;
    place-content: center;
    font-size: 15px;
    text-align: center;
    background-color: hsl(212, 45%, 89%)
}

.QR {
    margin-top: 15px;
    width: 270px;
    border-radius: 10px;
}

.content {
    font-family: 'Outfit', sans-serif;
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    margin: 20% 0 0 3%;
}

#style {
    padding: 5%;
    margin-top: 3%;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-color: hsl(218, 44%, 22%);
}

#des {
    -webkit-text-fill-color: hsl(220, 15%, 55%);
}

h1 {
    display: none;
}

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
